img {
  width: 100px;
  height: 100px;
}

header {
  display: flex;
  position: flex;
  margin: 0 4em;
  padding: 10px;
  width: calc(100vw - 8em);
  color: #fff;
  background-color: rgba(37, 37, 37, 0.8);
  border-radius: 0 0 1em 1em;
  z-index: 2;
}
header .heading {
  flex-grow: 1;
  padding-top: 0.25em;
}
header nav {
  display: flex;
}

.nav-item {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-item a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: #d3d3d3;
}

.nav-item-login {
  height: 1.5em;
  margin: 0 1.5em 0 0;
}

.nav-item-login a {
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
  padding: 5px;
}

.nav-item-login a:hover {
  color: #202b47;
  border-radius: 5px;
  background-color: black;
  box-shadow: #d3d3d3;
}

#background-pic {
  height: 100vh;
  display: flex;
  justify-content: flex-start;
}

#background-pic #image-txt {
  position: absolute;
  top: 35vh;
  /* text-shadow: 2px 2px; */
  z-index: 1;
}

#background-pic .backgroundIMG {
  position: absolute;
  display: block;
  margin: auto;
  min-width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.main-cart-wrapper {
  display: flex;
  width: 90vw;
}

#cart-left-panel {
  display: flex;
  flex-wrap: wrap;
}

.item-in-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: outset 5px blue;

  background-color: lightgray;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

#all-products-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.all-product-list {
  display: flex;
  justify-content: center;
  border: solid 1px black;
  background-color: red;
  width: 220px;
  margin: 5px;
}

.all-product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  background-color: white;
  width: 200px;
  margin: 5px;
  padding: 10px;
}

.product-name-image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signupContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2em;
}

.sectionHeader {
  font-size: 3em;
  color: black;
  line-height: 1em;
  margin-bottom: 1em;
  text-align: left;
  width: 100%;
}

.notearyColor {
  color: rgb(60, 60, 197);
}

.formAndBtns {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

/* ---- buttons ---- */

.btnContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2em;
}

.googleSignupBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1px solid lightgrey;
  background-color: transparent;
  padding: 0.2em;
}

.googleSignupBtn img {
  height: 22px;
  width: auto;
  margin-right: 1em;
}

.btnContainer button,
.btnContainer a,
.signMeUpBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 18px;
}

.signMeUpBtn {
  border: transparent;
  background-color: rgb(60, 60, 197);
  color: white;
  margin-right: 10px;
}

/* ---- form ---- */

.signupForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 450px;
}

.signupForm label {
  opacity: 0.6;
}

.signupForm > div:not(.btnContainer) {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  width: 100%;
}

.signupForm > div > input[type='text'],
.signupForm > div > input[type='password'] {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 2.4em;
  padding: 0.5em;
  border-radius: 5px;
}

.signupForm > span {
  border: 1px solid lightgrey;
  padding: 0.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.signupPhoto {
  background-image: url('https://i.imgur.com/r6zFlvJ.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  width: 62%;
}

.transparencyMask {
  background-image: linear-gradient(to left, transparent, rgb(255, 255, 255));
  z-index: 2;
  height: 80vh;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#container {
  display: flex;
  flex-direction: row-reverse;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  width: 100px;
}

.checkout {
  margin: 10px;
  color: white;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
}
